*

!/README.md
!/.gitignore
!/pyproject.toml

!/src/
!/src/synnet/
!/src/synnet/__init__.py
!/src/synnet/cli.py

!/src/synnet/commands/
!/src/synnet/commands/*.py

!/src/synnet/core/
!/src/synnet/core/*.py

!/src/synnet/io/
!/src/synnet/io/*.py
